/* Your Website Styles */
h1 {
	color: #639AB2;
	font-family: 'Lobster', cursive;
}
h2 {
	color: #7DD4CF;
	font-family: 'Lobster', cursive;
}
h3{
	color: #7DD4CF;
	background-color: #303030;
	font-family: 'Lobster', cursive;
}
p{
	color:#FCF8F7;
	font-family: 'Lato';
}
body {
	background: url("../img/bg.png");
}
a {
	color:#C9E8ED;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
#bio{
	margin-top: 24px;
	padding: 48px;
}
#me {
	margin-top: 35px;
	border: 25px;
}
#nav {
	font-size: 20px;
	font-style: bold;
	background: #717F7F;
}
#bio-links {
	color: transparent;
}