/* Your Website Styles */
h1 {
	color: #80C7E5;
	font-family: 'Lobster', cursive;
}
h2 {
	color: #7DD4CF;
	background-color: #303030;
	font-family: 'Lobster', cursive;
	margin-right: 618px;
}
h3{
	color: #7DD4CF;
	background-color: #303030;
	font-family: 'Lobster', cursive;
	margin-right: 315px;
}
p{
	color:#FCF8F7;
	font-family: 'Lato';
}
body {
	background: url("../img/bg.png");
}
a {
	color:#D8FAFF;
}
#btext{
	text-indent: 50px;
}
#head{
	color: #7DD4CF;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
#bio{
	margin-top: 24px;
	padding: 48px;
}
#me {
	margin-top: 35px;
	border: 25px;
}
#nav {
	font-size: 20px;
	font-style: bold;
	background: #303030;
}
#blinks{
	margin-right: 359px;
}
#bio-links {
	color: transparent;
}
