/* Your Website Styles */
h1 {
	color: #639AB2;
	font-family: 'Lobster', cursive;
}
h2 {
	color: #7DD4CF;
	font-family: 'Lobster', cursive;
}
h3{
	color: #7DD4CF;
	font-family: 'Lobster', cursive;
}
p{
	color:#FCF8F7
}
body {
	background: url("../img/bg.png");
}
a {
	color:#C9E8ED;
}
#map{
	margin-top: -60px;
}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}